    body{
        background-color: #f4e4e1;
        margin: 0px;
        text-align: center;
        font-family: Arial, sans-serif;
        color: #333;
    }
    header{
        text-align: center;
    }
    nav{
        text-align: center;
        padding: 1px;
        border-bottom: 1px solid #e0d2cf;
    }
    nav a{
        text-decoration: none;
        color: #333;
        margin: 0px 12px;
    }
    #home{
        text-align: left;
        padding: 20px;
    }
    .home-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        border-bottom: 1px solid #e0d2cf;
    }
    .home-text {
        flex: 1.2;
    }
    .home-image-box {
        flex: 0.8;
        display: flex;
        justify-content: center;
    }
    .home-image-box img {
        max-width: 100%;
        height: auto;
        border-radius: 12px;
    }
    #about{
        text-align: left;
        padding: 20px;
        border-bottom: 1px solid #e0d2cf;
    }
    #timeline{
        text-align: left;
        padding: 20px;
        border-bottom: 1px solid #e0d2cf;
    }
    #contact{
        text-align: left;
        padding: 20px;
        border-bottom: 1px solid #e0d2cf;
    }
    footer{
        text-align: center;
        padding: 19px;
        margin-top: 20px;     
        border-top: 1px solid #e0d2cf;   
    }

    @media (max-width: 768px) {
        .home-section {
            flex-direction: column;
        }
    }